.contact{
    width: 100%;
    height: auto;
    animation-name: animation;
    animation-duration:.5s;
}
.contact__content{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.contact__title{
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.contact__title::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #F4F6F7;
    z-index: 1;
}
.contact__title--item{
    background-color: #FFF;
    width: fit-content;
    height: 37.5px;
    z-index: 3;
    position: relative;
    padding-right:15px ;
    color: #345;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.contact__title--icon{
    font-size: 2.5rem !important;
    border-radius: 50%;
    border: 3px solid rgba(51, 68, 85, 0.212);
    width: 1.5em !important;
    height: 1.5em !important;
    padding: 5px;
    color: rgba(51, 68, 85, 0.212);
    margin-right: 6px;
}

.contact__name{
    margin-bottom: 20px;
    font-size: 4.5rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: rgba(51, 68, 85, 0.212);
    font-family: 'Tangerine', serif;
    transition: all .3s ease;
}

.contact__text{
    display: flex;
    align-items: center;
}

.contact__avatar{
    width: 120px;
    min-width: 100px;
    height: 160px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
    margin-right: 20px;
}
.contact__avatar > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.contact__text--item{
    font-size: 1.6rem;
    font-size: 300;
    color: #345;
    letter-spacing: .05rem;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.contact__text--items{
    display: flex;
    transition: all .3s ease;
}
.contact__text--left{
    margin-right: 100px;
}

.contact__item--icon{
    font-size: 2.5rem !important;
    border-radius: 50%;
    background-color: rgba(0, 153, 102, 0.801);
    width: 1.6em !important;
    height: 1.6em !important;
    padding: 5px;
    color: #fff;
    margin-right: 6px;
}

@media screen and (max-width:760px){
    .contact__text--items{
        display: initial;
        transition: all .3s ease;
    }
    .contact__text{
        display: initial;
        transition: all .3s ease;
    }
    .contact__avatar{
        margin: 0 auto;
        transition: all .3s ease;
    }
    .contact__name{
        text-align: center;
        font-size: 3.5rem;
        transition: all .3s ease;
    }
}