.menuSelection{
    max-width: 1200px;
    padding: 2rem;
    margin: 40px auto;
  
}

.menuSelection__contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuSelection__contents > h1 {
    width: 30%;
    text-align: center;
    font-size: 4rem;
}
.h1__main{
    color:var(--text);
    cursor:context-menu;
    font-size: 5rem !important;
}
.menuSelection__item{
    color: var(--gray-text);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.menuSelection__item:hover{
    color:var(--gray-text-hover) ;
    transition: .3s ease;
}
.menuSelection__link{
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
}

@media screen and (max-width:760px){
    .menuSelection__contents > h1 {
        width: 25%;
        text-align: center;
        font-size: 2.5rem;
        margin: 0 5px;
    }
    .h1__main{
        color:var(--text);
        cursor:context-menu;
        font-size: 3rem !important;
    }
    .menuSelection__link{
        font-size: 1.2rem;
    }
}