.theme-dark{
    --text: rgba(255, 255, 255, 0.952);
    --gray-text: rgba(255, 255, 255, 0.459);  
    --dark-background: #79CE98;

  }
  .theme-light{
    --text: #345;
    --gray-text: rgba(51, 68, 85, 0.212);  
    --dark-background: #fff;

  }
  